<!-- Nakon klika na "Prijavi se" poziva se funkcija
 "authenticate" iz kontrolera "controllers/login.js -->
 
<form {{action 'authenticate' on='submit'}}>
	<label for="identification">Korisnicko ime</label>
	<br>
	{{input id='identification' value=identification}} 
	<br>
	<label for="password">Lozinka</label>
	<br>
	{{input id="password" type='password' value=password}} 
	<br> <br>
	<button type="submit"> Prijavi se</button>
</form>

<p>{{validationError}}</p>
<p>{{authenticationError}}</p>