<!-- Nakon klika na "Prijavi se" poziva se funkcija
 "authenticate" iz kontrolera "controllers/login.js -->

<div class="panel panel-primary">
 <div class="panel-heading" id="signin">Prijavi se
 </div>

 <div class="panel-body">
 
<form {{action 'authenticate' on='submit'}}>
  <div class="form-group">
    <label for="identification">Korisničko ime</label>
    <br>
    <input type="username" class="form-control" id="identification"  placeholder="Korisničko ime">
  </div>
  <div class="form-group">
    <label for="password">Lozinka</label>
    <input type="password" class="form-control" id="password"  placeholder="Lozinka">
  </div>
  <button type="submit" class="btn btn-default">Prijavi se</button>
  <br>
  <br>
  <p>{{validationError}}</p>
  <p>{{authenticationError}}</p>
</form>


 </div>
</div>





<!-- stari kod 
 
<form {{action 'authenticate' on='submit'}}>
	<label for="identification">Korisnicko ime</label>
	<br>
	{{input id='identification' value=identification}} 
	<br>
	<label for="password">Lozinka</label>
	<br>
	{{input id="password" type='password' value=password}} 
	<br> <br>
	<button type="submit"> Prijavi se</button>
	<br>
</form>

-->



